<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Student to Database</h1>
    <form action="/addStudent" method="post">
    <input type="text" placeholder="Enter your name" name="name" required>  
    <br><br>
    <input type="number" placeholder="Enter your age" name="age"> 
    <br><br>
     <input type="text" placeholder="Enter your marks" name="marks">  
     <br><br>
     <button>Submit</button>
    </form>
</body>
</html>

